<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:property-placeholder location="com/jspiders/springsecond/database.properties"/>
	
	<bean name="database" class="com.jspiders.springsecond.Database">
	
	<constructor-arg value="${databaseName}"/>
	<constructor-arg value="${port}"/>
	<constructor-arg value="${user}"/>
	<constructor-arg value="${password}"/>
	
	</bean>

</beans>